body 
    background-color: $background-main
    overflow-x: hidden
    margin: 0 !important
    &::-webkit-scrollbar
        display: none

h1, h2, h3, h4, h5, h6, p, span, a, button, input, label, ul, li, textarea, div
    font-family: 'Inter', sans-serif
    color: $basic_text
    font-style: normal
    
h1 
    font-size: rem(56)
    line-height: rem(64)

h2
    font-size: rem(48)
    line-height: rem(56)

h3 
    font-size: rem(40)
    line-height: rem(48)

h4 
    font-size: rem(32)
    line-height: rem(40)

h5
    font-size: rem(24)
    line-height: rem(32)

h6
    font-size: rem(20)
    line-height: rem(28)

button 
    font-size: rem(16)  
    font-weight: bold  
    cursor: pointer 

a 
    cursor: pointer    

.oil
    background-color: #176DC10D
    &-container 
        padding: rem(32) rem(32) rem(32) rem(104)
        height: 100vh

    &-page 
        padding: rem(32)
        background-color: $basic-white
        border-radius: rem(12)

iframe
    border: none
    overflow: hidden